*.class
*.DS_Store

# Package Files #
*.jar
*.war
*.ear

# IDE specific #
*.classpath
.classpath
*.settings


#FRC Specific
/j2meclasses
/suite
/bin
/image.suite
/image.sym
/build
/resources
build.xml
build.properties


#commented out so no students can post changes
#I definetly want these files checked in#
#!/resources
#!build.xml
#!build.properties
